.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 6.4rem auto 2.4rem;
}

.font_blue {
  color: var(--blue-100);
  font-family: var(--ff-inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  gap: .8rem;
}

.font_purple {
  color: var(--purple-100);
  font-family: var(--ff-inter);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  align-items: center;
  gap: .8rem;
}

.circle {
  min-width: 2.2rem;
  height: 1.8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;

  background-color: var(--gray-400);

  color: var(--gray-200);
  font-family: var(--ff-inter);
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}